[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Device Tree for OnePlus one (bacon)
[access "refs/*"]
	owner = group user/xawlw
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/xawlw
	label-Verified = -1..+1 group user/xawlw
	push = group user/xawlw
	read = group user/xawlw
	rebase = group user/xawlw
	removeReviewer = group user/xawlw
	submit = group user/xawlw
[access "refs/heads/*"]
	create = group user/xawlw
	push = +force group user/xawlw
	pushMerge = group user/xawlw
	read = group user/xawlw
[access "refs/tags/*"]
	push = group user/xawlw
	push = +force group user/xawlw
